<footer class="footer section">
    <div class="container bg">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Empresa</h4>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="#">Reservas</a></li>
                        <li><a href="#">Aviso legal</a></li>
                        <li><a href="#">Politica de privacidad</a></li>
                        <li><a href="#">Politica de cookies</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Quick Links</h4>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Suscríbete!</h4>
                    <p>Entérate de las últimas novedades</p>

                    <form action="#" class="sub-form">
                        <input type="text" class="form-control mb-3" placeholder="Subscribe Now ...">
                        <a href="#" class="btn btn-main btn-small">subscribe</a>
                    </form>
                </div>
            </div>

            <div class="col-lg-3 ml-auto col-sm-6">
                <div class="widget">
                    <div class="logo mb-4">
                        <h3>Madset Sports</h3>
                    </div>
                    <h6><a href="tel:+666 66 66 66" >{{telefono}}</a></h6>
                    <a href="mailto:madsetsports@gmail.com"><span class="text-color h4">{{email}}</span></a>
                </div>
            </div>
        </div>
        
        <div class="footer-btm pt-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        &copy; Página creada por <span class="text-color">Javier Ochoa Pérez.</span> 
                    </div>
                </div>
                <div class="col-lg-6 text-left text-lg-right">
                    <ul class="list-inline footer-socials">
                        <li class="list-inline-item"><a href="https://www.facebook.com"><i class="ti-facebook mr-2"></i>Facebook</a></li>
                        <li class="list-inline-item"><a href="https://twitter.com"><i class="ti-twitter mr-2"></i>Twitter</a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com"><i class="ti-instagram mr-2 "></i>Instagram</a></li>
                        <li class="list-inline-item"><a href="https://www.youtube.com"><i class="ti-youtube mr-2 "></i>Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>