
<title>Política de Privacidad del Club de Pádel Madset Sports</title>
<div class="container mt-5">
    <h1 class="mb-4">Política de Privacidad del Club de Pádel Madset Sports</h1>

    <p>En Madset Sports, valoramos y respetamos la privacidad de nuestros miembros y visitantes. Esta política de privacidad explica cómo recopilamos, utilizamos y protegemos la información personal que obtenemos a través de nuestro sitio web, aplicaciones móviles, formularios de inscripción y cualquier otro medio de comunicación.</p>

    <h2 class="mt-5">Información que recopilamos:</h2>
    <ol>
        <li>Información de registro: Cuando te conviertes en miembro de Madset Sports, te solicitamos cierta información personal, como tu nombre, dirección de correo electrónico, número de teléfono, fecha de nacimiento y dirección postal.</li>
        <li>Información de pago: Si optas por participar en actividades que requieran un pago, recopilaremos los datos necesarios para procesar esas transacciones, como información de tarjeta de crédito o débito, dirección de facturación y detalles de pago.</li>
        <li>Información de uso: Podemos recopilar información sobre cómo utilizas nuestros servicios, como las páginas visitadas, las funcionalidades utilizadas y las interacciones con nuestro sitio web o aplicaciones móviles.</li>
        <li>Información adicional: Ocasionalmente, podemos solicitar información adicional para proporcionarte servicios específicos o mejorar tu experiencia con nosotros.</li>
    </ol>

    <h2 class="mt-5">Cómo utilizamos tu información:</h2>
    <ol>
        <li>Procesamiento de membresía: Utilizamos tu información para gestionar tu membresía en el club, incluido el envío de comunicaciones relevantes, la organización de eventos y la prestación de servicios relacionados con las actividades de pádel.</li>
        <li>Procesamiento de pagos: Utilizamos la información de pago para procesar tus transacciones y mantener registros precisos de las transacciones financieras.</li>
        <li>Mejora de servicios: Analizamos la información de uso para mejorar nuestros servicios, personalizar tu experiencia y proporcionarte contenido relevante.</li>
        <li>Comunicaciones: Podemos utilizar tu información para enviarte comunicaciones relacionadas con el club, como anuncios de eventos, cambios en las políticas o información importante sobre tu membresía.</li>
    </ol>

    <h2 class="mt-5">Cómo protegemos tu información:</h2>
    <ol>
        <li>Seguridad: Implementamos medidas de seguridad técnicas, administrativas y físicas para proteger tu información contra accesos no autorizados, uso indebido o divulgación.</li>
        <li>Confidencialidad: Limitamos el acceso a tu información solo a aquellos empleados y socios que necesiten acceder a ella para cumplir con sus funciones.</li>
        <li>Retención de datos: Mantenemos tu información solo durante el tiempo necesario para cumplir con los fines para los que fue recopilada y de acuerdo con las leyes aplicables.</li>
    </ol>

    <h2 class="mt-5">Tus derechos y opciones:</h2>
    <ol>
        <li>Acceso y corrección: Puedes acceder y actualizar tu información personal en cualquier momento a través de tu cuenta en línea o poniéndote en contacto con nosotros.</li>
        <li>Cancelación de suscripción: Puedes optar por no recibir comunicaciones promocionales en cualquier momento utilizando el enlace de cancelación de suscripción incluido en nuestros correos electrónicos o poniéndote en contacto con nosotros.</li>
        <li>Derechos de privacidad: Respetamos tus derechos de privacidad y tomaremos medidas para cumplir con tus solicitudes en virtud de las leyes de protección de datos aplicables.</li>
    </ol>

    <h2 class="mt-5">Cambios en esta política:</h2>
    <p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento para reflejar cambios en nuestras prácticas de privacidad. Te recomendamos que revises esta política periódicamente para estar al tanto de cualquier actualización.</p>

    <h2 class="mt-5">Contacto:</h2>
    <p>Si tienes alguna pregunta o inquietud sobre esta política de privacidad o el manejo de tu información personal, no dudes en ponerte en contacto con nosotros en <a href="mailto:madsetsports@gmail.com">madsetsports@gmail.com</a> o al número de teléfono <a href="tel:666666666">666 66 66 66</a>.</p>
</div>
