<div class="container">
    <div class="table-responsive table-height">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Email</th>
                <th scope="col">Rol</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido1 +' '}} {{usuario.apellido2}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.rol}}</td>
                <td><button mat-stroked-button color="accent" style="color: #ef5350;"  [routerLink]="['/usuarios-form', usuario.id]">Editar</button></td>
                <td><button mat-flat-button color="primary" style="color: white;" (click)="delete(usuario)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>