<div class="container">
    <div class="table-responsive table-height">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Pista</th>
                <th scope="col">Fecha</th>
                <th scope="col">Horario</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reserva of reservas">
                <td>{{reserva.id_pista}}</td>
                <td>{{reserva.fecha}}</td>
                <td>{{reserva.horario.hora_inicio}} - {{reserva.horario.hora_fin}}</td>
                <td><button mat-stroked-button color="accent" style="color: #ef5350;"  [routerLink]="['/reservas-form', reserva.id]">Editar</button></td>
                <td><button mat-flat-button color="primary" style="color: white;" (click)="delete(reserva)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>