<div class="container">
    <div class="card">
        <h5 class="card-header bg-dark text-white">{{titulo}}</h5>
        <div class="card-body">
            <form>
                <div class="form-group row card-text p-2">
                    <label for="nombre" class="col-form-label col-sm-2">Nombre pista</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="pista.nombre" maxlength="50">
                    </div>
                </div>
                <div class="form-group row card-text p-2">
                    <label for="superficie" class="col-form-label col-sm-2">Superficie</label>
                    <div class="col-sm-6">
                        <select name="superficie" [(ngModel)]="selectedSuperficieId" (change)="onSuperficieChange($event)">
                            <option [value]="sup.id" *ngFor="let sup of superficiesPista">{{sup.nombre}}</option>
                        </select>
                    </div>                   
                </div>
                <div class="form-group row card-text p-2">
                    <label for="tipoPared" class="col-form-label col-sm-2">Tipo de pared</label>
                    <div class="col-sm-6">
                        <select name="tipoPared" [(ngModel)]="pista.tipoPared">
                            <option value="Panorámica">Panorámica</option>
                            <option value="Cristal">Cristal</option>
                            <option value="Muro">Muro</option>                     
                        </select>
                    </div>                  
                </div>
                <div class="form-group row card-text p-2">
                    <label for="cobertura" class="col-form-label col-sm-2">Cobertura</label>
                    <div class="col-sm-6">
                        <select name="cobertura" [(ngModel)]="pista.cobertura">
                            <option value="Indoor">Indoor</option>
                            <option value="Cubierta">Cubierta</option>
                            <option value="Exterior">Exterior</option>                     
                        </select>
                    </div>                  
                </div>
                <div class="d-flex justify-content-start p-2">
                    <button button button mat-flat-button color="primary" style="color: white;" (click)="create()" *ngIf="!pista.id_pista else elseBlock">Registrar</button>
                </div>
                <ng-template #elseBlock class="d-flex justify-content-start p-2">
                    <button button button mat-flat-button color="primary" style="color: white;" (click)="update()">Actualizar</button>
                </ng-template>
            </form>
        </div>
    </div>
</div>