<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
        <div class="col" *ngFor="let pista of pistasPadel">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    {{ pista.nombre }}
                </div>
                <div class="card-body">
                    <p class="card-text">Superficie: {{ pista.id_superficie.nombre }}</p>
                    <p class="card-text">Tipo de Pared: {{ pista.tipoPared }}</p>
                    <p class="card-text">Cobertura: {{ pista.cobertura }}</p>
                    <div class="d-flex justify-content-end">
                        <button mat-stroked-button color="accent" style="color: #ef5350;" [routerLink]="['/pistas-padel-form', pista.id_pista]" [queryParams]="{userID: userID}">Editar</button>
                        <button mat-flat-button color="primary" style="color: white;" (click)="delete(pista)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end p-2">
        <button mat-raised-button color="accent" [routerLink]="['/pistas-padel-form']" [queryParams]="{userID: userID}">Nueva pista</button>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <button mat-raised-button color="primary" style="color: white;" (click)="regresarDashboard()">Volver al Dashboard</button>
</div>
