<div class="container">  
    <div class="table-responsive table-height">     
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Deporte</th>
                <th scope="col">Capacidad</th>
                <th scope="col">Dias grupo</th>
                <th scope="col">Horario</th>
                <th *ngIf = "usuario.rol !== 'Monitor'" scope="col">Profesor</th>
                <th *ngIf = "usuario.rol === 'Coordinador'" scope="col"></th>
                <th *ngIf = "usuario.rol === 'Coordinador'" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let grupo of grupos">
                <td>{{grupo.nombre}}</td>
                <td>{{grupo.id_deporte.nombre}}</td>
                <td>{{grupo.capacidad}}</td>
                <td>{{grupo.id_dias_grupo.dia}}</td>
                <td>{{grupo.id_horario.hora_inicio}} - {{grupo.id_horario.hora_fin}}</td>
                <td *ngIf = "usuario.rol !== 'Monitor'" >{{grupo.id_monitor.nombre}} {{grupo.id_monitor.apellido1}}</td>
                <td *ngIf = "usuario.rol === 'Coordinador'" ><button mat-flat-button color="primary" style="color: white;">Ir a grupo</button></td>
                <td *ngIf = "usuario.rol === 'Coordinador'" ><button mat-flat-button color="primary" style="color: white;" (click)="delete(grupo)">Eliminar</button></td>
                
                </tr>
            </tbody>
        </table>
    </div>
</div>