<mat-toolbar class="mat-elevation-z8">
    <div>
        <button
        mat-icon-button
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()"
        >
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
        </button>
    </div>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src="https://avatars.githubusercontent.com/u/80176086?s=400&u=a70f8996b1f9377fa62a06ebc6e7efc13bfb7ffd&v=4"
      />
  
      <h4 class="name text-white">{{usuario.nombre}} {{usuario.apellido1}}</h4>
      <h5 class="name text-white">{{usuario.rol}}</h5>
  
      <mat-divider></mat-divider>

      <button *ngIf="usuario.rol == 'Coordinador'" mat-button [matMenuTriggerFor]="personas">Gestión de personas</button>
      <mat-menu #personas="matMenu">
        <button mat-menu-item [routerLink]="['/usuarios-form']">Crear monitor</button>
        <button mat-menu-item [routerLink]="['/usuarios-form']">Crear usuario</button>
      </mat-menu>
      
      
      <mat-menu #usuarios="matMenu">
        <button mat-menu-item>Insects</button>
        <button mat-menu-item>Molluscs</button>
        <button mat-menu-item>Crustaceans</button>
        <button mat-menu-item>Corals</button>
        <button mat-menu-item>Arachnids</button>
        <button mat-menu-item>Velvet worms</button>
        <button mat-menu-item>Horseshoe crabs</button>
      </mat-menu>
      
      <mat-menu #fish="matMenu">
        <button mat-menu-item>Baikal oilfish</button>
        <button mat-menu-item>Bala shark</button>
        <button mat-menu-item>Ballan wrasse</button>
        <button mat-menu-item>Bamboo shark</button>
        <button mat-menu-item>Banded killifish</button>
      </mat-menu>
      
      <mat-menu #amphibians="matMenu">
        <button mat-menu-item>Sonoran desert toad</button>
        <button mat-menu-item>Western toad</button>
        <button mat-menu-item>Arroyo toad</button>
        <button mat-menu-item>Yosemite toad</button>
      </mat-menu>
      
      <mat-menu #reptiles="matMenu">
        <button mat-menu-item>Banded Day Gecko</button>
        <button mat-menu-item>Banded Gila Monster</button>
        <button mat-menu-item>Black Tree Monitor</button>
        <button mat-menu-item>Blue Spiny Lizard</button>
        <button mat-menu-item disabled>Velociraptor</button>
      </mat-menu>
      
  
      <button mat-button class="menu-button" routerLink="/home">
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/profile">
        <span>Profile</span>
      </button>
      <button mat-button class="menu-button" routerLink="/about">
        <span>About</span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/help">
        <span>Help</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <div class="container-fluid px-4">
            <h1 class="mt-4" >Panel de {{usuario.rol}}</h1>

            <div *ngIf="usuario.rol == 'Coordinador'" class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <i class="fas fa-trophy me-1"></i>
                    Gestión de usuarios
                </div>
                <div class="card-body">
                    <app-usuario></app-usuario>
                </div>
            </div>

            <div *ngIf="usuario.rol == 'Coordinador'" class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <img src="../../assets/icons/calendar1.png" alt="">
                    Situación ocupación pistas
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Horario</th>
                                <th>Deporte</th>
                                <th>Pista</th>
                                <th>Monitor</th>
                                <th>Alquiler/Clase</th>
                                <th>Pagada</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>A</td>
                                <td>B</td>
                                <td>C</td>
                                <td>D</td>
                                <td>E</td>
                                <td>F</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="usuario.rol == 'Coordinador'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-dark text-white">
                            <img src="../../assets/icons/trophy-light.png" alt="">
                            Gestión torneos
                        </div>
                        <div class="card-body">
                            <app-torneo></app-torneo>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-dark text-white">
                            <img src="../../assets/icons/medal.png" alt="">
                            Gestión de rankings
                        </div>
                        <div class="card-body">
                            <app-torneo></app-torneo>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="usuario.rol == 'Coordinador'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-dark text-white">
                            <i class="fas fa-users me-1"></i>
                            Visor de grupos de la escuela
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-dark text-white">
                            <i class="fas fa-id-card me-1"></i>
                            Visor de monitores de la escuela
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>   
            <div *ngIf="usuario.rol == 'Monitor'" class="card mb-4">
                <div class="card-header bg-dark text-white">
                    Mi agenda semanal
                </div>
                <div class="card-body">
                    <!--Incluir selector de los grupos para un monitor -->
                </div>
            </div>
            <div *ngIf="usuario.rol == 'Monitor'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-dark text-white">
                            <i class="fas fa-users me-1"></i>
                            Mis grupos
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-dark text-white">
                            <i class="fas fa-id-card me-1"></i>
                            Control de asistencia
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>      
            <div *ngIf="usuario.rol == 'Usuario'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-dark text-white">
                            <i class="fas fa-users me-1"></i>
                            Visor de estado de cuotas
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-dark text-white">
                            <i class="fas fa-id-card me-1"></i>
                            Visor de mis grupos
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div> 
            <div *ngIf="usuario.rol == 'Usuario'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-dark text-white">
                            <i class="fas fa-users me-1"></i>
                            Torneos
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-dark text-white">
                            <i class="fas fa-id-card me-1"></i>
                            Rankings
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>                
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
