
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->         
    <a class="navbar-brand ps-3">Hola {{usuario.nombre}}</a>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Mis datos</a></li>
                <li><a class="dropdown-item" href="#!">Ajustes de cuenta</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="index.html">Cerrar sesión</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <div class="container-fluid px-4">
            <h1 class="mt-4" >Panel de {{usuario.rol}}</h1>

            <div *ngIf="usuario.rol == 'Coordinador'" class="card mb-4">
                <div class="card-header bg-danger text-white">
                    <i class="fas fa-trophy me-1"></i>
                    Gestión de usuarios
                </div>
                <div class="card-body">
                    <app-usuario></app-usuario>
                </div>
            </div>

            <div *ngIf="usuario.rol == 'Coordinador'" class="card mb-4">
                <div class="card-header bg-danger text-white">
                    <img src="../../assets/icons/event-2.png" alt="">
                    Situación ocupación pistas
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Horario</th>
                                <th>Deporte</th>
                                <th>Pista</th>
                                <th>Monitor</th>
                                <th>Alquiler/Clase</th>
                                <th>Pagada</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>A</td>
                                <td>B</td>
                                <td>C</td>
                                <td>D</td>
                                <td>E</td>
                                <td>F</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="usuario.rol == 'Coordinador'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-danger text-white">
                            <img src="../../assets/icons/trophy-light.png" alt="">
                            Gestión torneos
                        </div>
                        <div class="card-body">
                            <app-torneo></app-torneo>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-danger text-white">
                            <img src="../../assets/icons/medal.png" alt="">
                            Gestión de rankings
                        </div>
                        <div class="card-body">
                            <app-torneo></app-torneo>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="usuario.rol == 'Coordinador'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-danger text-white">
                            <i class="fas fa-users me-1"></i>
                            Visor de grupos de la escuela
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-danger text-white">
                            <i class="fas fa-id-card me-1"></i>
                            Visor de monitores de la escuela
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>   
            <div *ngIf="usuario.rol == 'Monitor'" class="card mb-4">
                <div class="card-header bg-danger text-white">
                    Mi agenda semanal
                </div>
                <div class="card-body">
                    <!--Incluir selector de los grupos para un monitor -->
                </div>
            </div>
            <div *ngIf="usuario.rol == 'Monitor'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-danger text-white">
                            <i class="fas fa-users me-1"></i>
                            Mis grupos
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-danger text-white">
                            <i class="fas fa-id-card me-1"></i>
                            Control de asistencia
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>      
            <div *ngIf="usuario.rol == 'Usuario'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-danger text-white">
                            <i class="fas fa-users me-1"></i>
                            Visor de estado de cuotas
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-danger text-white">
                            <i class="fas fa-id-card me-1"></i>
                            Visor de mis grupos
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div> 
            <div *ngIf="usuario.rol == 'Usuario'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-danger text-white">
                            <i class="fas fa-users me-1"></i>
                            Torneos
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-danger text-white">
                            <i class="fas fa-id-card me-1"></i>
                            Rankings
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>