<mat-toolbar class="mat-elevation-z8">
    <div>
        <button
        mat-icon-button
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()"
        >
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
        </button>
    </div>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src={{imgUser}}
      />
  
      <h4 class="name text-white">{{usuario.nombre}} {{usuario.apellido1}}</h4>
      <h5 class="name text-white">{{usuario.rol}}</h5>
  
      <mat-divider></mat-divider>

      <button *ngIf="usuario.rol == 'Coordinador'" mat-button [matMenuTriggerFor]="personas">Gestión Personas</button>
      <mat-menu #personas="matMenu">
        <button mat-menu-item [routerLink]="['/usuarios-form']" [queryParams]="{rol: 'Coordinador', userID: id}">Crear coordinador</button>
        <button mat-menu-item [routerLink]="['/usuarios-form']" [queryParams]="{rol: 'Monitor', userID: id}">Crear monitor</button>
        <button mat-menu-item [routerLink]="['/usuarios-form']" [queryParams]="{rol: 'Usuario', userID: id}">Crear usuario</button>
      </mat-menu>

      <mat-divider *ngIf="usuario.rol == 'Coordinador'"></mat-divider>

      <button *ngIf="usuario.rol == 'Coordinador'" mat-button [matMenuTriggerFor]="group">Gestión Grupos</button>
      <mat-menu #group="matMenu">
        <button mat-menu-item [routerLink]="['/grupos-form']" [queryParams]="{userID: id}">Crear grupo</button>
      </mat-menu>

      <mat-divider *ngIf="usuario.rol == 'Coordinador'"></mat-divider>

      <button *ngIf="usuario.rol == 'Coordinador'" mat-button [matMenuTriggerFor]="competiciones">Gestión Competiciones</button>
      <mat-menu #competiciones="matMenu">
        <button mat-menu-item [routerLink]="['/torneos-form']" [queryParams]="{tipo: 'Torneo', userID: id}">Crear Torneo</button>
        <button mat-menu-item [routerLink]="['/torneos-form']" [queryParams]="{tipo: 'Ranking', userID: id}">Crear Ranking</button>
      </mat-menu>

      <mat-divider *ngIf="usuario.rol == 'Coordinador'"></mat-divider>

      <button *ngIf="usuario.rol == 'Coordinador'" mat-button [matMenuTriggerFor]="espacios">Gestión Espacios</button>
      <mat-menu #espacios="matMenu">
        <button mat-menu-item [routerLink]="['/pistas-tenis']">Tenis</button>
        <button mat-menu-item [routerLink]="['/pistas-padel']">Pádel</button>
      </mat-menu>

      <mat-divider *ngIf="usuario.rol == 'Coordinador'"></mat-divider>

      <button *ngIf="usuario.rol == 'Coordinador'" mat-button [matMenuTriggerFor]="reservas">Reserva de pistas</button>
      <mat-menu #reservas="matMenu">
        <button mat-menu-item [routerLink]="['/reservas-form']" [queryParams]="{deporte: 'Tenis', userID: id}">Nueva reserva de Tenis</button>
        <button mat-menu-item [routerLink]="['/reservas-form']" [queryParams]="{deporte: 'Padel', userID: id}">Nueva reserva de Pádel</button>
      </mat-menu>

      <button *ngIf="usuario.rol == 'Monitor'" mat-button [matMenuTriggerFor]="sesiones">Mis sesiones</button>
      <mat-menu #sesiones="matMenu">
        <button mat-menu-item [routerLink]="['/sesion-form']" [queryParams]="{userID: id}">Programar una sesión</button>
      </mat-menu>

      <button *ngIf="usuario.rol == 'Usuario'" mat-button [matMenuTriggerFor]="alquileres">Alquileres</button>
      <mat-menu #alquileres="matMenu">
        <button mat-menu-item [routerLink]="['/reservas-form']" [queryParams]="{deporte: 'Tenis', userID: id}">Nueva reserva de Tenis</button>
        <button mat-menu-item [routerLink]="['/reservas-form']" [queryParams]="{deporte: 'Padel', userID: id}">Nueva reserva de Pádel</button>
      </mat-menu>

      <mat-divider></mat-divider>

      <button mat-button [routerLink]="['/login']">Cerrar sesión</button>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <div class="container-fluid px-4">
            <h1 class="mt-4" >Panel de {{usuario.rol}}</h1>

            <div *ngIf="usuario.rol == 'Coordinador'" class="card mb-4">
                <div class="card-header bg-madset text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z"/></svg>
                    Gestión de usuarios
                </div>
                <div class="card-body">
                    <app-usuario [usuarios]= "usuarios" [userID]=usuario.id ></app-usuario>
                </div>
            </div>

            <div *ngIf="usuario.rol == 'Coordinador'" class="card mb-4">
                <div class="card-header bg-madset text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M662-60 520-202l56-56 85 85 170-170 56 57L662-60ZM296-280l-56-56 64-64-64-64 56-56 64 64 64-64 56 56-64 64 64 64-56 56-64-64-64 64ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v254l-80 81v-175H200v400h250l79 80H200Zm0-560h560v-80H200v80Zm0 0v-80 80Z"/></svg>
                    Situación ocupación pistas hoy
                </div>
                <div class="card-body">
                    <app-reserva [reservas] = "resToday"></app-reserva>
                </div>
            </div>
            <div *ngIf="usuario.rol == 'Coordinador'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M280-120v-80h160v-124q-49-11-87.5-41.5T296-442q-75-9-125.5-65.5T120-640v-40q0-33 23.5-56.5T200-760h80v-80h400v80h80q33 0 56.5 23.5T840-680v40q0 76-50.5 132.5T664-442q-18 46-56.5 76.5T520-324v124h160v80H280Zm0-408v-152h-80v40q0 38 22 68.5t58 43.5Zm200 128q50 0 85-35t35-85v-240H360v240q0 50 35 85t85 35Zm200-128q36-13 58-43.5t22-68.5v-40h-80v152Zm-200-52Z"/></svg>
                            Gestión torneos
                        </div>
                        <div class="card-body">
                            <app-torneo [competiciones] = "torneos" [usuario] = "usuario"></app-torneo>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-40v-329L110-580l185-300h370l185 300-130 211v329l-240-80-240 80Zm80-111 160-53 160 53v-129H320v129Zm20-649L204-580l136 220h280l136-220-136-220H340Zm98 383L296-558l57-57 85 85 169-170 57 56-226 227ZM320-280h320-320Z"/></svg>
                            Gestión de rankings
                        </div>
                        <div class="card-body">
                            <app-torneo [competiciones] = "rankings" [usuario] = "usuario"></app-torneo>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="usuario.rol == 'Coordinador'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M0-240v-63q0-43 44-70t116-27q13 0 25 .5t23 2.5q-14 21-21 44t-7 48v65H0Zm240 0v-65q0-32 17.5-58.5T307-410q32-20 76.5-30t96.5-10q53 0 97.5 10t76.5 30q32 20 49 46.5t17 58.5v65H240Zm540 0v-65q0-26-6.5-49T754-397q11-2 22.5-2.5t23.5-.5q72 0 116 26.5t44 70.5v63H780Zm-455-80h311q-10-20-55.5-35T480-370q-55 0-100.5 15T325-320ZM160-440q-33 0-56.5-23.5T80-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T160-440Zm640 0q-33 0-56.5-23.5T720-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T800-440Zm-320-40q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T600-600q0 50-34.5 85T480-480Zm0-80q17 0 28.5-11.5T520-600q0-17-11.5-28.5T480-640q-17 0-28.5 11.5T440-600q0 17 11.5 28.5T480-560Zm1 240Zm-1-280Z"/></svg>
                            Visor de grupos de la escuela
                        </div>
                        <div class="card-body">
                            <app-grupo [grupos]= "grupos" [usuario] = "usuario"></app-grupo>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M40-160v-160q0-34 23.5-57t56.5-23h131q20 0 38 10t29 27q29 39 71.5 61t90.5 22q49 0 91.5-22t70.5-61q13-17 30.5-27t36.5-10h131q34 0 57 23t23 57v160H640v-91q-35 25-75.5 38T480-200q-43 0-84-13.5T320-252v92H40Zm440-160q-38 0-72-17.5T351-386q-17-25-42.5-39.5T253-440q22-37 93-58.5T480-520q63 0 134 21.5t93 58.5q-29 0-55 14.5T609-386q-22 32-56 49t-73 17ZM160-440q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T280-560q0 50-34.5 85T160-440Zm640 0q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T920-560q0 50-34.5 85T800-440ZM480-560q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T600-680q0 50-34.5 85T480-560Z"/></svg>
                            Visor de monitores de la escuela
                        </div>
                        <div class="card-body">
                            <app-usuario [usuarios]= "monitores" [userID]=usuario.id></app-usuario>
                        </div>
                    </div>
                </div>
            </div>   
            <div *ngIf="usuario.rol == 'Coordinador'" class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M360-320q-17 0-28.5-11.5T320-360v-80q17 0 28.5-11.5T360-480q0-17-11.5-28.5T320-520v-80q0-17 11.5-28.5T360-640h240q17 0 28.5 11.5T640-600v80q-17 0-28.5 11.5T600-480q0 17 11.5 28.5T640-440v80q0 17-11.5 28.5T600-320H360Zm120-60q8 0 14-6t6-14q0-8-6-14t-14-6q-8 0-14 6t-6 14q0 8 6 14t14 6Zm0-80q8 0 14-6t6-14q0-8-6-14t-14-6q-8 0-14 6t-6 14q0 8 6 14t14 6Zm0-80q8 0 14-6t6-14q0-8-6-14t-14-6q-8 0-14 6t-6 14q0 8 6 14t14 6ZM280-40q-33 0-56.5-23.5T200-120v-720q0-33 23.5-56.5T280-920h400q33 0 56.5 23.5T760-840v720q0 33-23.5 56.5T680-40H280Zm0-120v40h400v-40H280Zm0-80h400v-480H280v480Zm0-560h400v-40H280v40Zm0 0v-40 40Zm0 640v40-40Z"/></svg>
                            Mis reservas
                        </div>
                        <div class="card-body">
                            <app-reserva [reservas]= "reservasUsuario" [usuario] = "usuario"></app-reserva>
                        </div>
                    </div>
                </div>
            </div>      
            <div *ngIf="usuario.rol == 'Monitor'" class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m780-60-60-60 120-120-120-120 60-60 180 180L780-60Zm-460-60v-80H160q-33 0-56.5-23.5T80-280v-480q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v280h-80v-280H160v480h520v80h-80v80H320Zm120-240h80v-120h120v-80H520v-120h-80v120H320v80h120v120Zm-280 80v-480 480Z"/></svg>
                            Mis próximas sesiones
                        </div>
                        <div class="card-body">
                            <app-sesion [sesiones]= "sesionesFuturasMonitor" [usuario] = "usuario"></app-sesion>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="usuario.rol == 'Monitor'" class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M0-240v-63q0-43 44-70t116-27q13 0 25 .5t23 2.5q-14 21-21 44t-7 48v65H0Zm240 0v-65q0-32 17.5-58.5T307-410q32-20 76.5-30t96.5-10q53 0 97.5 10t76.5 30q32 20 49 46.5t17 58.5v65H240Zm540 0v-65q0-26-6.5-49T754-397q11-2 22.5-2.5t23.5-.5q72 0 116 26.5t44 70.5v63H780Zm-455-80h311q-10-20-55.5-35T480-370q-55 0-100.5 15T325-320ZM160-440q-33 0-56.5-23.5T80-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T160-440Zm640 0q-33 0-56.5-23.5T720-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T800-440Zm-320-40q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T600-600q0 50-34.5 85T480-480Zm0-80q17 0 28.5-11.5T520-600q0-17-11.5-28.5T480-640q-17 0-28.5 11.5T440-600q0 17 11.5 28.5T480-560Zm1 240Zm-1-280Z"/></svg>
                            Mis grupos
                        </div>
                        <div class="card-body">
                            <app-grupo [grupos]= "gruposMonitor" [usuario] = "usuario"></app-grupo>
                        </div>
                    </div>
                </div>
            </div>   
            <div *ngIf="usuario.rol == 'Monitor'" class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M200-520q-33 0-56.5-23.5T120-600v-160q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v160q0 33-23.5 56.5T760-520H200Zm0-80h560v-160H200v160Zm0 480q-33 0-56.5-23.5T120-200v-160q0-33 23.5-56.5T200-440h560q33 0 56.5 23.5T840-360v160q0 33-23.5 56.5T760-120H200Zm0-80h560v-160H200v160Zm0-560v160-160Zm0 400v160-160Z"/></svg>
                            Mis sesiones
                        </div>
                        <div class="card-body">
                            <app-sesion [sesiones]= "sesionesMonitor" [usuario] = "usuario"></app-sesion>
                        </div>
                    </div>
                </div>
            </div>            
            <div *ngIf="usuario.rol == 'Usuario'" class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M0-240v-63q0-43 44-70t116-27q13 0 25 .5t23 2.5q-14 21-21 44t-7 48v65H0Zm240 0v-65q0-32 17.5-58.5T307-410q32-20 76.5-30t96.5-10q53 0 97.5 10t76.5 30q32 20 49 46.5t17 58.5v65H240Zm540 0v-65q0-26-6.5-49T754-397q11-2 22.5-2.5t23.5-.5q72 0 116 26.5t44 70.5v63H780Zm-455-80h311q-10-20-55.5-35T480-370q-55 0-100.5 15T325-320ZM160-440q-33 0-56.5-23.5T80-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T160-440Zm640 0q-33 0-56.5-23.5T720-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T800-440Zm-320-40q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T600-600q0 50-34.5 85T480-480Zm0-80q17 0 28.5-11.5T520-600q0-17-11.5-28.5T480-640q-17 0-28.5 11.5T440-600q0 17 11.5 28.5T480-560Zm1 240Zm-1-280Z"/></svg>
                            Visor de mis grupos
                        </div>
                        <div class="card-body">
                            <app-grupo [grupos]= "gruposUsuario" [usuario] = "usuario"></app-grupo>
                        </div>
                    </div>
                </div>
            </div> 
            <div *ngIf="usuario.rol == 'Usuario'" class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m780-60-60-60 120-120-120-120 60-60 180 180L780-60Zm-460-60v-80H160q-33 0-56.5-23.5T80-280v-480q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v280h-80v-280H160v480h520v80h-80v80H320Zm120-240h80v-120h120v-80H520v-120h-80v120H320v80h120v120Zm-280 80v-480 480Z"/></svg>
                            Mis próximas sesiones
                        </div>
                        <div class="card-body">
                            <app-sesion [sesiones]= "sesionesFuturasUsuario" [usuario] = "usuario"></app-sesion>
                        </div>
                    </div>
                </div>
            </div> 
            <div *ngIf="usuario.rol == 'Usuario'" class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M280-120v-80h160v-124q-49-11-87.5-41.5T296-442q-75-9-125.5-65.5T120-640v-40q0-33 23.5-56.5T200-760h80v-80h400v80h80q33 0 56.5 23.5T840-680v40q0 76-50.5 132.5T664-442q-18 46-56.5 76.5T520-324v124h160v80H280Zm0-408v-152h-80v40q0 38 22 68.5t58 43.5Zm200 128q50 0 85-35t35-85v-240H360v240q0 50 35 85t85 35Zm200-128q36-13 58-43.5t22-68.5v-40h-80v152Zm-200-52Z"/></svg>
                            Mis Torneos
                        </div>
                        <div class="card-body">
                            <app-torneo [competiciones]= "userTorneos" [usuario] = "usuario"></app-torneo>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-40v-329L110-580l185-300h370l185 300-130 211v329l-240-80-240 80Zm80-111 160-53 160 53v-129H320v129Zm20-649L204-580l136 220h280l136-220-136-220H340Zm98 383L296-558l57-57 85 85 169-170 57 56-226 227ZM320-280h320-320Z"/></svg>
                            Mis Rankings
                        </div>
                        <div class="card-body">
                            <app-torneo [competiciones]= "userRankings"></app-torneo>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="usuario.rol == 'Usuario'" class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-160q-33 0-56.5-23.5T160-240q0-33 23.5-56.5T240-320q33 0 56.5 23.5T320-240q0 33-23.5 56.5T240-160Zm0-240q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm0-240q-33 0-56.5-23.5T160-720q0-33 23.5-56.5T240-800q33 0 56.5 23.5T320-720q0 33-23.5 56.5T240-640Zm240 0q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Zm240 0q-33 0-56.5-23.5T640-720q0-33 23.5-56.5T720-800q33 0 56.5 23.5T800-720q0 33-23.5 56.5T720-640ZM480-400q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm40 240v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T863-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
                            Inscripción a competiciones
                        </div>
                        <div class="card-body">
                            <app-torneo [competiciones]= "torneosInscripcion" [usuario] = "usuario" [inscripcionEnabled]="true"></app-torneo>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="usuario.rol == 'Usuario'" class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M200-520q-33 0-56.5-23.5T120-600v-160q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v160q0 33-23.5 56.5T760-520H200Zm0-80h560v-160H200v160Zm0 480q-33 0-56.5-23.5T120-200v-160q0-33 23.5-56.5T200-440h560q33 0 56.5 23.5T840-360v160q0 33-23.5 56.5T760-120H200Zm0-80h560v-160H200v160Zm0-560v160-160Zm0 400v160-160Z"/></svg>
                            Mis sesiones
                        </div>
                        <div class="card-body">
                            <app-sesion [sesiones]= "sesionesUsuario" [usuario] = "usuario"></app-sesion>
                        </div>
                    </div>
                </div>
            </div>    
            <div *ngIf="usuario.rol == 'Usuario'" class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header bg-madset text-white">
                            <i class="fas fa-id-card me-1"></i>
                            Mis reservas
                        </div>
                        <div class="card-body">
                            <app-reserva [reservas]= "reservasUsuario" [usuario] = "usuario"></app-reserva>
                        </div>
                    </div>
                </div>
            </div>                  
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
