<div class="banner-header text-center">
    <h1>Bienvenidos a la Escuela de Pádel</h1>
    <p>Descubre nuestras tarifas y horarios para mejorar tu juego.</p>
</div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Tarifas para grupos (3-4 personas)</h2>
    <div class="row justify-content-center">
        <div class="col-md-3 mb-4">
            <div class="card text-center shadow-sm border-0 h-100">
                <div class="card-header session-group">
                    60 Min (MAÑANAS)
                </div>
                <div class="card-body">
                    <h3 class="card-title">Horarios entre 9:00h y 16:00h</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 sesión semanal: 50€</li>
                        <li class="list-group-item">2 sesiones semanales: 95€</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card text-center shadow-sm border-0 h-100">
                <div class="card-header session-group">
                    90 Min (MAÑANAS)
                </div>
                <div class="card-body">
                    <h3 class="card-title">Horarios entre 9:00h y 16:00h</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 sesión semanal: 70€</li>
                        <li class="list-group-item">2 sesiones semanales: 130€</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card text-center shadow-sm border-0 h-100">
                <div class="card-header session-group">
                    60 Min (TARDES)
                </div>
                <div class="card-body">
                    <h3 class="card-title">Horarios entre 17:00h y 22:00h</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 sesión semanal: 55€</li>
                        <li class="list-group-item">2 sesiones semanales: 105€</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card text-center shadow-sm border-0 h-100">
                <div class="card-header session-group">
                    90 Min (TARDES)
                </div>
                <div class="card-body">
                    <h3 class="card-title">Horarios entre 17:00h y 22:00h</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 sesión semanal: 80€</li>
                        <li class="list-group-item">2 sesiones semanales: 150€</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Tarifas para clases particulares</h2>
    <div class="row justify-content-center">
        <div class="col-md-3 mb-4">
            <div class="card text-center shadow-sm border-0 h-100">
                <div class="card-header private-class">
                    60 Min (MAÑANAS)
                </div>
                <div class="card-body">
                    <h3 class="card-title">Horarios entre 9:00h y 16:00h</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 alumno precio sesión: 35€</li>
                        <li class="list-group-item">2 alumnos precio sesión/alumno: 25€</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card text-center shadow-sm border-0 h-100">
                <div class="card-header private-class">
                    90 Min (MAÑANAS)
                </div>
                <div class="card-body">
                    <h3 class="card-title">Horarios entre 9:00h y 16:00h</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 alumno precio sesión: 45€</li>
                        <li class="list-group-item">2 alumnos precio sesión/alumno: 32€</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card text-center shadow-sm border-0 h-100">
                <div class="card-header private-class">
                    60 Min (TARDES)
                </div>
                <div class="card-body">
                    <h3 class="card-title">Horarios entre 17:00h y 22:00h</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 alumno precio sesión: 45€</li>
                        <li class="list-group-item">2 alumnos precio sesión/alumno: 30€</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card text-center shadow-sm border-0 h-100">
                <div class="card-header private-class">
                    90 Min (TARDES)
                </div>
                <div class="card-body">
                    <h3 class="card-title">Horarios entre 17:00h y 22:00h</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 alumno precio sesión: 55€</li>
                        <li class="list-group-item">2 alumnos precio sesión/alumno: 40€</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>