<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-0">
                <div *ngIf="id_competicion; else nuevoTorneoBlock" class="card-header bg-dark text-white text-center">
                    Modificación {{tipo}}
                </div>
                <ng-template #nuevoTorneoBlock>
                    <div class="card-header bg-dark text-white text-center">
                        Nuevo {{tipo}}
                    </div>
                </ng-template>
                <div class="card-body">
                    <form [formGroup]="competicionForm">
                        <div class="form-group row mb-3">
                            <label for="nombre" class="col-form-label col-sm-2">Nombre competición</label>
                            <div class="col-sm-10">
                                <input [class.is-invalid] = "competicionForm.get('nombre_torneo')?.invalid && competicionForm.get('nombre_torneo')?.touched" formControlName="nombre_torneo" type="text" class="form-control" maxlength="50">
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="categoria" class="col-form-label col-sm-2">Categoría</label>
                            <div class="col-sm-10">
                                <input [class.is-invalid] = "competicionForm.get('categoria')?.invalid && competicionForm.get('categoria')?.touched" formControlName="categoria" type="text" class="form-control" maxlength="40">
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="deporte" class="col-form-label col-sm-2">Deporte</label>
                            <div class="col-sm-10">
                                <select [class.is-invalid]="competicionForm.get('deporte_id')?.invalid && competicionForm.get('deporte_id')?.touched" formControlName="deporte_id" class="form-control">
                                    <option *ngFor="let deporte of deportes" [value]="deporte.id">{{deporte.nombre}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="estado" class="col-form-label col-sm-2">Estado</label>
                            <div class="col-sm-10">
                                <select [class.is-invalid]="competicionForm.get('estado_id')?.invalid && competicionForm.get('estado_id')?.touched" formControlName="estado_id" class="form-control">
                                    <option *ngFor="let estado of estados" [value]="estado.id">{{estado.estado}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="max_jugadores" class="col-form-label col-sm-2">Nº jugadores max</label>
                            <div class="col-sm-10">
                                <input [class.is-invalid] = "competicionForm.get('max_jugadores')?.invalid && competicionForm.get('max_jugadores')?.touched" formControlName="max_jugadores" type="number" class="form-control">
                            </div>
                        </div>

                        <div class="d-flex justify-content-start mb-3">
                            <button [disabled]="competicionForm.invalid" mat-flat-button color="primary" class="text-white" (click)="create()" *ngIf="!id_competicion; else elseBlock">Registrar</button>
                        </div>
                        <ng-template #elseBlock>
                            <div class="d-flex justify-content-start mb-3">
                                <button mat-flat-button color="primary" class="text-white" (click)="update()">Actualizar</button>
                            </div>
                        </ng-template>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <button mat-raised-button color="primary" class="text-white" (click)="regresarDashboard()">Volver al Dashboard</button>
</div>
