<div class="container">
    <div class="row mb-3">
        <div class="col-lg-6 offset-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar por nombre de competición" [(ngModel)]="busquedaTorneo">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-6 offset-lg-3">
            <div class="btn-group d-flex flex-wrap" role="group" aria-label="Filtrar por estado">
                <button mat-stroked-button color="primary" (click)="filtrarPorEstado('Inscripción')" class="mat-inscripcion-button">Inscripción</button>
                <button mat-stroked-button color="warn" (click)="filtrarPorEstado('En juego')" class="mat-curso-button">En juego</button>
                <button mat-stroked-button color="accent" (click)="filtrarPorEstado('Finalizado')" class="mat-finalizado-button">Finalizado</button>
                <button mat-stroked-button (click)="limpiarFiltro()">Limpiar</button>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
        <div class="col" *ngFor="let torneo of torneosFiltrados">
            <div class="card" [ngClass]="{
                'bg-green-border': torneo.estado_id.estado === 'Inscripción',
                'bg-yellow-border': torneo.estado_id.estado === 'En juego',
                'bg-red-border': torneo.estado_id.estado === 'Finalizado'
            }">
                <div class="card-header bg-dark text-white">
                    {{ torneo.nombre_torneo }}
                </div>
                <div class="card-body">
                    <p class="card-text">Categoría: {{torneo.categoria}}</p>
                    <p class="card-text">Deporte: {{torneo.deporte_id.nombre}}</p>
                    <p class="card-text">Estado: {{torneo.estado_id.estado}}</p>
                    <p class="card-text">Máximo de jugadores: {{torneo.max_jugadores}}</p>

                    <div *ngIf="usuario.rol === 'Coordinador'" class="d-flex justify-content-end align-items-center">
                        <div>
                            <!-- Botón para subir un archivo -->
                            <button mat-icon-button (click)="uploadFile($event, torneo)">
                                <label class="custom-file-upload">
                                    <input type="file" class (change)="uploadFile($event, torneo)">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#ef5350"><path d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H520q-33 0-56.5-23.5T440-240v-206l-64 62-56-56 160-160 160 160-56 56-64-62v206h220q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41h100v80H260Zm220-280Z"/></svg>
                                </label>
                            </button>
                            <!-- Botón para descargar un archivo -->
                            <button mat-icon-button color="primary" style="color: white;" (click)="getFile(torneo.id_fichero)">
                                <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#ef5350"><path d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q17-72 85-137t145-65q33 0 56.5 23.5T520-716v242l64-62 56 56-160 160-160-160 56-56 64 62v-242q-76 14-118 73.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41h480q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-48-22-89.5T600-680v-93q74 35 117 103.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H260Zm220-358Z"/></svg>
                            </button>
                        </div>
                    </div>
                    
                   
                    <div class="card-body d-flex justify-content-end">
                        <p *ngIf = "usuario.rol === 'Coordinador'"><button mat-flat-button color="#ef5350" style="color: #ef5350;" [routerLink]="['/torneos-form', torneo.id]" [queryParams]="{userID: usuario.id}">Editar</button></p>
                        <p *ngIf = "usuario.rol === 'Coordinador'"><button mat-flat-button color="primary" style="color: white;" (click)="delete(torneo)">Eliminar</button></p>
                        <p *ngIf = "inscripcionEnabled === true"><button mat-flat-button color="primary" style="color: white;" (click)="inscribir(torneo)">Inscribirme</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>